## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [71]:
x = 20
print (x)

20

2) Imprimir el tipo de dato de la constante 8.5

In [72]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [73]:
type(x)

int

4) Crear una variable que contenga tu nombre

In [74]:
y = 'antonio'
print (y)

antonio

5) Crear una variable que contenga un número complejo

In [75]:
numerocomplejo = 10 + 10j
print (numerocomplejo)

(10+10j)

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [76]:
type(numerocomplejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [77]:
pi = 3,1416
print (pi)

(3, 1416)

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [78]:
v1= True
v2= 'true'
print (v1==v2)
# un dato es tipo bool y el otro una str

False

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [79]:
print (type(v1), type(v2))

<class 'bool'> <class 'str'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [80]:
a = (x + 5)
b = (x + 1.5)
print ( a , b, type(a), type (b))

25 21.5 <class 'int'> <class 'float'>

11) Realizar una operación de suma de números complejos

In [81]:
c = 3 + 4j
d = 5 + 6j
print (c+d)

(8+10j)

12) Realizar una operación de suma de un número real y otro complejo

In [82]:
print (x + c)

(23+4j)

13) Realizar una operación de multiplicación

In [83]:
print (5*3)

15

14) Mostrar el resultado de elevar 2 a la octava potencia

In [84]:
print (2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [85]:
e = 27
f = 4
g = 27 / 4
print (g)

6.75

16) De la división anterior solamente mostrar la parte entera

In [86]:
print (e//f)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [87]:
print(e%f)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [88]:
print (4*6+3)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [89]:
nombre = 'Antonio'
apellido = ' Galindo'
print (nombre+apellido)

Antonio Galindo

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [90]:
cadena = '2'
print (cadena == 2) #pq la primera es una str y la ultima un int

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [91]:
print (int(cadena) == 2)

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [92]:
a = '3.8' #valor con coma
print (float (a))

3.8

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [93]:
var23 = 3
var23 -= 1
print (var23)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [94]:
print (1<<2)
# es un sistema que usa unicamente 1 y 0
# cada posición de desplazamineto es una potencia de 2
# luego aca seria 0100 
# (0*2^0)+(0*2^1)+(1*2^2) = 4

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [95]:
#porque son tipos diferente
print (type(2), type('2'))
print ( 2 == '2')

<class 'int'> <class 'str'>
False

26) Realizar una operación válida entre valores de tipo entero y string

In [99]:
var26 = "hola "
var27 = 5
print (var26 * var27)

hola hola hola hola hola